@media(max-width:1024px) {
    .navigation {
        gap: 50%
    }
}

@media(max-width:768px) {
    .navigation {
        gap: 65%
    }
}

@media(max-width:600px) {
    .navigation {

        gap: 30%
    }


}